[submodule "src/zine"]
	path = src/zine
	url = https://github.com/webaverse/zine
[submodule "packages/three"]
	path = packages/three
	url = https://github.com/webaverse/three.git
[submodule "packages/zjs"]
	path = packages/zjs
	url = https://github.com/webaverse/zjs
[submodule "packages/offscreen-engine"]
	path = packages/offscreen-engine
	url = https://github.com/webaverse/offscreen-engine.git
[submodule "src/zine-aux"]
	path = src/zine-aux
	url = https://github.com/webaverse/zine-aux.git
[submodule "packages/three-vrm"]
	path = packages/three-vrm
	url = https://github.com/webaverse/three-vrm.git
[submodule "src/avatars"]
	path = src/avatars
	url = https://github.com/webaverse/avatars
[submodule "src/avatars-wasm"]
	path = src/avatars-wasm
	url = https://github.com/webaverse/avatars-wasm
