[submodule "src/zine"]
	path = src/zine
	url = git@github.com:webaverse/zine.git
[submodule "packages/three"]
	path = packages/three
	url = git@github.com:webaverse/three.git
[submodule "packages/zjs"]
	path = packages/zjs
	url = git@github.com:webaverse/zjs.git
[submodule "packages/offscreen-engine"]
	path = packages/offscreen-engine
	url = git@github.com:webaverse/offscreen-engine.git
[submodule "src/zine-aux"]
	path = src/zine-aux
	url = git@github.com:webaverse/zine-aux.git
