.character {
  max-width: 100vw;
}
.character .name {
}
.character .bio {
  white-space: pre-wrap;
}
.character .markdown img {
  display: block;
}
.character pre {
  white-space: pre-wrap;
}
.character a {
  color: #42a5f5;
  font-weight: 600;
}
.character a:hover {
  color: #1e88e5;
}
.character a:active {
  color: #0d47a1;
}