.character {
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 120px 0 80px 0;
  font-size: 14px;
}
.character .logo {
  height: 60px;
  position: absolute;
  left: 40px;
  top: 42px;
}
.character .contentWrap {
  background-color: #112029;
  width: 100%;
  padding: 28px 40px;
  box-sizing: border-box;
}
.character .contentWrap .name {
  font-size: 24px;
  border-bottom: 2px solid #152934;
  padding-bottom: 14px;
  margin-bottom: 24px;
}
.character .contentWrap h2 {
  color: #88989e;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 2px solid #152934;
  padding-bottom: 14px;
  margin-bottom: 8px;
}
.character .contentWrap p {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 24px 0;
  padding: 0;
  line-height: 20px;
  color: #dadada;
}

.character .contentWrap .galleryWrap {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}
.character .contentWrap .galleryWrap li {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 4px;
}
.character .contentWrap .galleryWrap li img {
  width: 100%;
}
.character .contentWrap .galleryWrap::after {
  content: ' ';
  display: block;
  clear: both;
}
.character .contentWrap .leftContent {
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: calc(100% - 300px);
}
.character .contentWrap .leftContent h2:first-child {
  display: none;
}

.character .contentWrap .leftContent ul:not(.galleryWrap),
.character .contentWrap .leftContent ul:not(.galleryWrap) li {
  margin: 0;
  padding: 0;
  display: block;
}
.character .contentWrap .leftContent ul:not(.galleryWrap) li {
  padding: 0px 12px;
  border-left: 6px solid #152934;
  margin-bottom: 8px;
}

.character .contentWrap .rightContent {
  width: 280px;
  float: right;
  box-sizing: border-box;
  padding-left: 24px;
}
.character .contentWrap .rightContent .title {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  margin: 0 0 2px 0;
}
.character .contentWrap .rightContent .subtitle {
  text-align: center;
  color: #88989e;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  margin: 0 0 2px 0;
}
.character .contentWrap .rightContent .previewImageWrap {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}
.character .contentWrap .rightContent .previewImageWrap .frame {
  width: 100%;
}
.character .contentWrap .rightContent .previewImageWrap .mask {
  width: 96%;
  height: 96%;
  overflow: hidden;
  -webkit-mask-image: url("/assets/image-frame.svg");
  mask-image: url("/assets/image-frame.svg");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  z-index: 10;
}
.character .contentWrap .rightContent .mask img {
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.character .contentWrap .rightContent .infoWrap > div {
  width: 100%;
  box-sizing: border-box;
  background-color: #091319;
  padding: 10px 16px;
  font-size: 12px;
  margin-bottom: 6px;
}
.character .contentWrap .rightContent .infoWrap > div::after {
  content: ' ';
  display: block;
  clear: both;
}
.character .contentWrap .rightContent .infoWrap .label {
  width: 34%;
  float: left;
  color: #687674;
  text-transform: capitalize;
}
.character .contentWrap .rightContent .infoWrap .value {
  float: left;
  width: 66%;
}
.character .contentWrap .rightContent .infoWrap ul,
.character .contentWrap .rightContent .infoWrap li {
  display: block;
  padding: 0;
  margin: 0;
}
.character .contentWrap .rightContent .infoWrap li {
  margin-bottom: 6px;
}
.character .contentWrap .rightContent .infoWrap li:last-child {
  margin-bottom: 0;
}
.character .bio {
  white-space: pre-wrap;
}
.character .markdown img {
  display: block;
}
.character pre {
  white-space: pre-wrap;
}
.character a {
  color: #FBD301;
  font-weight: 600;
}
.character a:hover {
  color: #CE9B0E;
}
.character a:active {
  color: #CE9B0E;
}