.gen {

}
.gen .tabs {
  display: flex;
}
.gen .tabs .tab {
  color: #2196f3;
  font-size: 40px;
  cursor: pointer;
}
.gen .tabs .tab:hover {
  /* color: #1e88e5; */
  /* darker... */
  color: #1976d2;
  text-decoration: underline;
}
.gen .tabs .tab + .tab {
  margin-left: 20px;
}